:root {
	--light: #f2f3f4;
	--dark: #000;
	--colour1: #d21600;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"header"
		"main";
	font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1080px) {
	body {
		grid-template-rows: 472px 1fr;
	}
}
@media screen and (max-width: 704px) {
	body {
		grid-template-rows: 356px 1fr;
	}
}
.header {
	grid-area: header;
	background-color: var(--light);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__title {
	cursor: default;
	padding: 0.125em;
	color: var(--dark);
	font-size: 3rem;
}

.header__subtitle {
	cursor: default;
	user-select: none;
	padding: 0.25em;
	color: var(--dark);
}

.header__icon {
	cursor: pointer;
	display: inline;
	font-size: 2rem;
	padding: 0.15em;
	margin: 0.25em;
	border-radius: 5px;
	background-color: var(--light);
	color: var(--dark);
}

.header__icon:hover,
.header__link:focus > .header__icon {
	background-color: var(--dark);
	color: var(--light);
}

.main {
	grid-area: main;
	padding: 1em 0;
	background-color: var(--dark);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.preview {
	width: 320px;
	height: 320px;
	margin: 1em;
	background-size: contain;
	border-radius: 32px;
}

.preview__info {
	width: 320px;
	height: 320px;
	cursor: pointer;
	user-select: none;
	border-radius: 32px;
	background-color: #000000ee;
	border: 1px solid var(--light);
	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 400ms ease-in;
}

.preview__info:hover {
	opacity: 1;
	transition: opacity 200ms ease-out;
}

.preview__text {
	text-align: center;
	margin: 0 1em;
	color: var(--light);
}

.preview__link {
	text-decoration: none;
}

.preview1 {
	background-image: url('mernlogo.png');
}

.preview2 {
	background-image: url('npmlogo.png');
}	


.preview3 {
	background-image: url('firefoxlogo.png');
}
